{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'image/varkala_logo.png' %}" type="image/png">
        <title>Varkala Stays</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static '/vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static '/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css' %}">
        <link rel="stylesheet" href="{% static '/vendors/nice-select/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static '/vendors/owl-carousel/owl.carousel.min.css' %}">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    </head>
    <body>
        <!--================Header Area =================-->
        <header class="header_area">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="{%url 'index'%}"><img src="{% static 'image/varkala_logo.png' %}" alt="" class="logo-img"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="{%url 'index'%}">Home</a></li> 
                            <li class="nav-item active"><a class="nav-link" href="{%url 'about'%}">About us</a></li>
                            <!-- <li class="nav-item"><a class="nav-link" href="#">Accomodation</a></li> -->
                            <li class="nav-item"><a class="nav-link" href="{%url 'gallery'%}">Gallery</a></li>
                            <!-- <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Blog Details</a></li>
                                </ul>
                            </li>  -->
                            <li class="nav-item"><a class="nav-link" href="{%url 'property_list'%}">Property List</a></li>
                            <li class="nav-item"><a class="nav-link" href="{%url 'contact'%}">Contact</a></li>
                        </ul>
                    </div> 
                </nav>
            </div>
        </header>
        <!--================Header Area =================-->
        
        <!--================Breadcrumb Area =================-->
        <section class="breadcrumb_area">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="page-cover text-center">
                    <h2 class="page-cover-tittle">About Us</h2>
                    <ol class="breadcrumb">
                        <li><a href="{%url 'index'%}">Home</a></li>
                        <li class="active">About</li>
                    </ol>
                </div>
            </div>
        </section>
        <!--================Breadcrumb Area =================-->
        
        <!--================ About History Area  =================-->
        <section class="about_history_area section_gap">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d_flex align-items-center">
                        <div class="about_content ">
                            <h2 class="title title_color">About Us <br>Our History<br>Mission & Vision</h2>
                            <p class="aboutas-p">Hudels Hospitality Services Pvt Ltd, founded in 2019 and has grown with time. 
                               Hudels has a diversified culture and is highly Service oriented. 
                               We cater in to various segments and ensure that we deliver high standards and meet the requirement of each client. 
                               We believe in strong relationshis and we focus on building healthy relationships with our Customers.
                               To make these partnerships with some big names. 
                               But this has helped us grow in every aspect and each one of them has contributed to our success story, 
                               may it be big or small. Without these partnerships we perhaps may not exist and thus along with our customers 
                               we value all of these as brands with high regards and would like to Thank each one of them for making our journey 
                               a successful one till now.</p>
                            <!-- <a href="#" class="button_hover theme_btn_two">Request Custom Price</a> -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img class="img-fluid" src="{% static 'image/about_bg.jpg' %}" alt="img">
                    </div>
                </div>
            </div>
        </section>
        <!--================ About History Area  =================-->
        
        
        
        <!--================ start footer Area  =================-->	
        <footer class="footer-area section_gap">
            <div class="container">
                <div class="footer-row">
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="footer_title">About Agency</h6>
                            <p class="footer-about">Hudels Hospitality Services Pvt Ltd, founded in 2019 and has grown with time. Hudels has a diversified culture and is highly Service oriented. We cater in to various segments and ensure that we deliver high standards and meet the requirement of each client. We believe in strong relationshis and we focus on building healthy relationships with our Customers. To make these partnerships with some big names. But this has helped us grow in every aspect and each one of them has contributed to our success story, may it be big or small. Without these partnerships we perhaps may not exist and thus along with our customers we value all of these as brands with high regards and would like to Thank each one of them for making our journey a successful one till now.</p>
                        </div>
                    </div>					
                </div>
                <div class="border_line"></div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <div class="footer-p">
                        <p class="col-lg-8 col-sm-12 footer-text m-0">
                            Copyright © 2022 Hudels Hospitality Services. All Rights Reserved.
                            <br>
                            Privacy & Policy | Terms and Conditions.
                        </p>
                    </div>
                    <div class="col-lg-4 col-sm-12 footer-social">
                        <!-- <a href="#"><i class="fa fa-facebook"  style="font-size: 30px;"></i></a> -->
                        <a href="https://www.instagram.com/varkalastays4/"><i class="fa fa-instagram" style="font-size: 30px;"></i></a>
                        <a href="https://wa.me/+919074582622"><i class="fa fa-whatsapp"  style="font-size: 30px;"></i></a>
                    </div>
                </div>
            </div>

        </footer>
		<!--================ End footer Area  =================-->
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static '/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static '/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js' %}"></script>
        <script src="{% static '/vendors/nice-select/js/jquery.nice-select.js' %}"></script>
        <script src="{% static 'js/mail-script.js' %}"></script>
        <script src="{% static 'js/stellar.js' %}"></script>
        <script src="{% static '/vendors/lightbox/simpleLightbox.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
    </body>
</html>
