{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'image/varkala_logo.png' %}" type="image/png">
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <title>Varkala Stays</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static '/vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static '/vendors/owl-carousel/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static '/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css' %}">
        <link rel="stylesheet" href="{% static '/vendors/nice-select/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static '/vendors/owl-carousel/owl.carousel.min.css' %}">
        <!-- <link rel="stylesheet" href="{% static '/vendors/lightbox/simpleLightbox.css' %}"> -->

        <!-- main css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    </head>
    <body>
        <!--================Header Area =================-->
        <header class="header_area">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="{%url 'index'%}"><img src="{% static 'image/varkala_logo.png' %}" alt="" class="logo-img"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="{%url 'index'%}">Home</a></li> 
                            <li class="nav-item"><a class="nav-link" href="{%url 'about'%}">About us</a></li>
                            <!-- <li class="nav-item"><a class="nav-link" href="#">Accomodation</a></li> -->
                            <li class="nav-item"><a class="nav-link" href="{%url 'gallery'%}">Gallery</a></li>
                            <!-- <li class="nav-item submenu dropdown active">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Blog Details</a></li>
                                </ul>
                            </li>  -->
                            <li class="nav-item"><a class="nav-link" href="{%url 'property_list'%}">Property list</a></li>
                            <li class="nav-item"><a class="nav-link" href="{%url 'contact'%}">Contact</a></li>
                        </ul>
                    </div> 
                </nav>
            </div>
        </header>
        <!--================Header Area =================-->
        
        <!--================Banner Area =================-->
        <section class="banner_area blog_banner_ashokam d_flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h4>Ashokam Beach Resort </h4>
                    <!-- <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first</p> -->
                    <!-- <a href="#" class="btn white_btn button_hover">View More</a> -->
                </div>
            </div>
        </section>
        <!--================Banner Area =================-->
        
        <!--================Blog Categorie Area =================-->
        <section class="blog_categorie_area">
                <div class="container-hotel-info">
                    <div class="header">
                        <h1>Ashokam Beach Resort  <span></span></h1>
                        <p>Beach side Property</p>
                    </div>
                    <br><br>
                    <div class="gallery">
                        <div class="main-image main_gallery_item">
                            <div class="main_gallery_img">
                                <img src="{% static 'image/property_img/ashokam_detail1.jpeg' %}" alt="">
                                <div class="hover">
                                    <a class="light" href="{% static 'image/property_img/ashokam_detail1.jpeg ' %}"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="thumbnails">
                            <img src="{% static 'image/property_img/ashokam5.jpg' %}" alt="Video Thumbnail">
                            <img src="{% static 'image/property_img/ashokam6.jpg' %}" alt="Room">
                        </div>
                    </div>
                    <div class="hotel-name">
                        <h2>About</h2>
                    </div>
                        <p class="tax-price">
                            Escape to the arms of nature with Ashokam Resort Varkala, a sea-facing property amidst lush greenery with luxury accommodation and premium amenities. <br>
                            The property is situated at a tranquil location heaving natural views all around. <br>
                            A conference hall is available on-site for hosting corporate meetings. <br>
                            Relax and unwind at the swimming pool available on-site. <br>
                            The property provides a variety of Ayurveda packages to heal your body. <br>
                        </p> <br>

                        
                        <div class="property_div">
                            <div class="head_div">
                            <span class="txt_roomtype">Room Types</span></div>
                                <div class="list_div">
                                    {% comment %} li sentence changed  {% endcomment %}
                                    <li>NON AC sea view Standard Room  --  Room Only  &  Room with Breakfast available</li>
                                    <li>AC deluxe double room with garden view  --  Room with Breakfast</li>
                                    <li>AC sea view deluxe double room with balcony  --  Room Only & Room with Breakfast available</li>
                                    <li>Premium AC deluxe double room with balcony  --  Room Only & Room with Breakfast available</li>
                                    <li>AC sea view family room with balcony  --  --  Room Only & Room with Breakfast available</li>
                        
                                </div>
                            </div><br>
                        <!-- <span>Property Rules</span><br> -->
                        <div class="property_div">
                            <div class="list_div">
                                <div class="head_div">
                                    <h3>Property Rules</h3>
                                </div>
                            <p>Check-in: 12 PM <span>&</span>  Check-out: 11 AM</p>
                            
                            <li>Passport, Aadhar, Govt. ID and Driving License are accepted as ID proof(s)</li>
                            <li>Pets are not allowed</li>
                            <li>Outside food is not allowed</li>
                            
                            </div>
                        </div><br>


                        <h1 class="Location">Room Types</h1>          
                        <br> 
                        <br>             
                        <div class="room_main">
                        <!--hotel-room 1-->

                            <div class="room_card">
                                <img src="{% static 'image/property_img/ashokam_hotel_room1.jpg' %}" alt="Swimming pool" class="room_card-image">
                                <div class="room_card-content">
                                    <h2>Garden View AC - Deluxe Double Room</h2>
                                    <ul class="room_details">
                                        <li><img src="{% static 'image/property_img/bed-alt.png' %}" alt="" style="height: 20px; width: 20px;"> Double Bed</li>
                                        <li><img src="{% static 'image/property_img/trillium.png' %}" alt="" style="height: 20px; width: 20px;"> Garden View  </li>
                                        <li><img src="{% static 'image/property_img/desk.png' %}" alt="" style="height: 20px; width: 20px;"> Work Desk </li>
                                        <li><img src="{% static 'image/property_img/wifi.png' %}" alt="" style="height: 20px; width: 20px;"> Wi-Fi </li>
                                        <li><img src="{% static 'image/property_img/water-bottle.png' %}" alt="" style="height: 20px; width: 20px;">Complimentar water bottle </li>
                                        <!-- <li><img src="{% static 'image/icon_png/ban.png' %}" alt="" style="height: 20px; width: 20px;"> Non-Refundable</li> -->
                                    </ul>
                                </div>
                            </div> 
                            
                        <!--hotel-room-2-->

                            <div class="room_card">
                                <img src="{% static 'image/property_img/Sea View AC - Deluxe Room With Balcony.jpg' %}" alt="Swimming pool" class="room_card-image">
                                <div class="room_card-content">
                                    <h2>Sea View AC - Deluxe Room With Balcony</h2>
                                    <ul class="room_details">
                                        <li><img src="{% static 'image/property_img/bed-alt.png' %}" alt="" style="height: 20px; width: 20px;">  Twin Bed </li>
                                        <li><img src="{% static 'image/property_img/wave.png' %}" alt="" style="height: 20px; width: 20px;"> Sea View </li>
                                        <li><img src="{% static 'image/property_img/desk.png' %}" alt="" style="height: 20px; width: 20px;"> Work Desk </li>
                                        <li><img src="{% static 'image/property_img/wifi.png' %}" alt="" style="height: 20px; width: 20px;"> Wi-Fi </li>
                                        <li><img src="{% static 'image/property_img/water-bottle.png' %}" alt="" style="height: 20px; width: 20px;"> Complimentar water bottle </li>
                                    </ul>
                                </div>
                            </div> 
                        <!--hotel-room 3-->
                            
                            <div class="room_card">
                                <img src="{% static 'image/property_img/Premium AC deluxe double room with balcony.jpg' %}" alt="Swimming pool" class="room_card-image">
                                <div class="room_card-content">
                                    <h2>Premium Sea View AC - Deluxe Room With Balcony</h2>
                                    <ul class="room_details">
                                        <li><img src="{% static 'image/property_img/bed-alt.png' %}" alt="" style="height: 20px; width: 20px;"> Double Bed </li>
                                        <li><img src="{% static 'image/property_img/wave.png' %}" alt="" style="height: 20px; width: 20px;"> Sea View </li>
                                        <li><img src="{% static 'image/property_img/desk.png' %}" alt="" style="height: 20px; width: 20px;"> Work Desk </li>
                                        <li><img src="{% static 'image/property_img/wifi.png' %}" alt="" style="height: 20px; width: 20px;"> Wi-Fi </li>
                                        <li><img src="{% static 'image/property_img/water-bottle.png' %}" alt="" style="height: 20px; width: 20px;"> Complimentar water bottle </li>
                                    </ul>
                                </div>
                            </div> 
                            <!--hotel-room 4-->
                        
                            <div class="room_card">
                                <img src="{% static 'image/property_img/AC sea view family room with balcony.jpg' %}" alt="Swimming pool" class="room_card-image">
                                <div class="room_card-content">
                                    <h2>Sea View Family Room AC - With Balcony</h2>
                                    <ul class="room_details">
                                        <li><img src="{% static 'image/property_img/bed-alt.png' %}" alt="" style="height: 20px; width: 20px;"> Double Bed </li>
                                        <li><img src="{% static 'image/property_img/wave.png' %}" alt="" style="height: 20px; width: 20px;"> Sea View </li>
                                        <li><img src="{% static 'image/property_img/desk.png' %}" alt="" style="height: 20px; width: 20px;"> Work Desk </li>
                                        <li><img src="{% static 'image/property_img/wifi.png' %}" alt="" style="height: 20px; width: 20px;"> Wi-Fi </li>
                                        <li><img src="{% static 'image/property_img/water-bottle.png' %}" alt="" style="height: 20px; width: 20px;"> Complimentar water bottle </li>
                                    </ul>
                                </div>
                            </div> 
                        <!--hotel-room 5-->
                            <div class="room_card">
                                <img src="{% static 'image/property_img/Premium AC sea view family room with balcony.jpg' %}" alt="Swimming pool" class="room_card-image">
                                <div class="room_card-content">
                                    <h2>Premium Sea View Family Room AC - With Balcony</h2>
                                    <ul class="room_details">
                                        <li><img src="{% static 'image/property_img/bed-alt.png' %}" alt="" style="height: 20px; width: 20px;">1 King bed or 2 Twin Bed(s) </li>
                                        <li><img src="{% static 'image/property_img/wave.png' %}" alt="" style="height: 20px; width: 20px;"> Sea View </li>
                                        <li><img src="{% static 'image/property_img/desk.png' %}" alt="" style="height: 20px; width: 20px;"> Work Desk </li>
                                        <li><img src="{% static 'image/property_img/wifi.png' %}" alt="" style="height: 20px; width: 20px;"> Wi-Fi </li>
                                        <li><img src="{% static 'image/property_img/water-bottle.png' %}" alt="" style="height: 20px; width: 20px;"> Complimentar water bottle </li>
                                    </ul>
                                </div>
                            </div> 
                        <!--hotel-room 6-->
                        <div class="room_card">
                            <img src="{% static 'image/property_img/Standard Non AC Room.jpg' %}" alt="Swimming pool" class="room_card-image">
                            <div class="room_card-content">
                                <h2>Standard Non AC Room</h2>
                                <ul class="room_details">
                                    <li><img src="{% static 'image/property_img/bed-alt.png' %}" alt="" style="height: 20px; width: 20px;">  Double Bed </li>
                                    <li><img src="{% static 'image/property_img/wave.png' %}" alt="" style="height: 20px; width: 20px;"> Sea View </li>
                                    <li><img src="{% static 'image/property_img/desk.png' %}" alt="" style="height: 20px; width: 20px;"> Work Desk </li>
                                    <li><img src="{% static 'image/property_img/wifi.png' %}" alt="" style="height: 20px; width: 20px;"> Wi-Fi </li>
                                    <li><img src="{% static 'image/property_img/water-bottle.png' %}" alt="" style="height: 20px; width: 20px;"> Complimentar water bottle </li>
                                </ul>
                            </div>
                        </div> 
                        

                        <h1 class="Location">Hotel-images</h1>
                        <div class="hotel-gallery" id="gallery">
                            <div class="gallery_item">
                                <div class="gallery_img">
                                    <img src="{% static 'image/property_img/ashokam1.jpg' %}" alt="">
                                    <div class="hover">
                                        <a class="light" href="{% static 'image/property_img/ashokam1.jpg ' %}"><i class="fa fa-expand"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery_item">
                                <div class="gallery_img">
                                    <img src="{% static 'image/property_img/ashokam5.jpg' %}" alt="">
                                    <div class="hover">
                                        <a class="light" href="{% static 'image/property_img/ashokam5.jpg ' %}"><i class="fa fa-expand"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery_item">
                                <div class="gallery_img">
                                    <img src="{% static 'image/property_img/ashokam6.jpg' %}" alt="">
                                    <div class="hover">
                                        <a class="light" href="{% static 'image/property_img/ashokam6.jpg' %}"><i class="fa fa-expand"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>        

                        <div class="hotel-gallery" id="gallery">
                            <div class="gallery_item">
                                <div class="gallery_img">
                                    <img src="{% static 'image/property_img/ashokam_inside1.jpeg' %}" alt="">
                                    <div class="hover">
                                        <a class="light" href="{% static 'image/property_img/villa3.jpg ' %}"><i class="fa fa-expand"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery_item">
                                <div class="gallery_img">
                                    <img src="{% static 'image/property_img/ashokam_inside2.jpeg' %}" alt="">
                                    <div class="hover">
                                        <a class="light" href="{% static 'image/property_img/villa4.jpg ' %}"><i class="fa fa-expand"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery_item">
                                <div class="gallery_img">
                                    <img src="{% static 'image/property_img/ashokam_inside3.jpeg' %}" alt="">
                                    <div class="hover">
                                        <a class="light" href="{% static 'image/property_img/ashokam_inside3.jpg' %}"><i class="fa fa-expand"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <h1 class="Location">Location</h1>
                        <div class="map">
                            <!-- ashokam  -->
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3943.2903978387726!2d76.68568977406414!3d8.758724293163029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05efe493a68c75%3A0xd31b1c6d46bf2bf6!2sAshokam%20Resort%20Varkala!5e0!3m2!1sen!2sin!4v1717517064128!5m2!1sen!2sin"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            <a href="https://maps.app.goo.gl/VSV9KoBhmHkS3iiq8" target="_blank">
                                <button class="view-map">View on Map</button>
                            </a>              
                        </div>
                    </div>
                </div>
        </section>

        <!--================Blog Area =================-->
        
        
        <!--================ start footer Area  =================-->	
        <footer class="footer-area section_gap">
            <div class="container">
                <div class="footer-row">
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <div>
                                <h6 class="footer_title">About Agency</h6>
                                <p class="footer-about">Escape to the arms of nature with Ashokam Resort Varkala, a sea-facing property amidst lush greenery with luxury accommodation and premium amenities.
                                    The property is situated at a tranquil location heaving natural views all around.
                                    A conference hall is available on-site for hosting corporate meetings.</p>
                            </div>

                           
                        </div>
                    </div>	

                    <h4 class="txt_cnct_sngle">Book Now</h4>
                    <div class="col-md-9">
                        <h4 class="txt_cnct_min">Book Now</h4>
                        <form method="post" action="/enquiry/" class="row contact_form">
                            {% csrf_token %}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="check_in">Check-In Date:</label>
                                    <input type="date" class="form-control" name="check_in" id="check_in" required >
                                </div>
                                <div class="form-group">
                                    <label for="check_out">Check-Out Date:</label>
                                    <input type="date" class="form-control" name="check_out" id="check_out" required >
                                </div>
                                <div class="form-group">
                                    <label for="name">Your Name:</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="contact_number">Contact Number:</label>
                                    <input type="tel" class="form-control" id="contact_number" name="contact_number" placeholder="Enter Phone No.">
                                </div>
                                <div class="form-group">
                                    <label for="num_people">Number of People:</label>
                                    <input type="number" class="form-control" id="num_people" name="num_people" min="1" required placeholder="Enter No. of People">
                                </div>
                            </div>
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn theme_btn button_hover">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="border_line"></div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <div class="footer-p">
                        <p class="col-lg-8 col-sm-12 footer-text m-0">
                            Copyright © 2022 Hudels Hospitality Services. All Rights Reserved.
                            <br>
                            Privacy & Policy | Terms and Conditions.
                        </p>
                    </div>
                    <div class="col-lg-4 col-sm-12 footer-social">
                        <!-- <a href="#"><i class="fa fa-facebook"  style="font-size: 30px;"></i></a> -->
                        <a href="#"><i class="fa fa-instagram" style="font-size: 30px;"></i></a>
                        <a href="#"><i class="fa fa-whatsapp"  style="font-size: 30px;"></i></a>
                    </div>
                </div>
            </div>

        </footer>

		<!--================ End footer Area  =================-->
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static '/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'js/mail-script.js' %}"></script>
        <script src="{% static '/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js' %}"></script>
        <script src="{% static '/vendors/nice-select/js/jquery.nice-select.js' %}"></script>
        <script src="{% static 'js/mail-script.js' %}"></script>
        <script src="{% static 'js/stellar.js' %}"></script>
        <script src="{% static '/vendors/lightbox/simpleLightbox.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>

        <script src="{% static '/vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static '/vendors/isotope/isotope-min.js' %}"></script>


    </body>
</html>
